<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Fonts Awesome -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate/animate.css">
    <!-- Magnific Popup -->
   </head>
<body data-spy="scroll" data-target=".bookhub-top-nav" data-offset="65" id="main"> 
        <%- include ./partials/rootnav.ejs %>
        <%- include ./partials/sidebar.ejs %>
        


    <!-- Home Section -->
    <section id="home">
        <div id="home-cover"  class="bg-parallex animated fadeIn">
            <div id="home-content-box">
                <div id="home-content-box-inner" class="text-center">
                    <div id="home-heading" class="animated zoomIn">
                        <h3>Watch Out<br>The Modern BookHub Website</h3>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="0.5s"  data-wow-delay="1s">
                <h3>Services</h3>
                <div class="content-title-underline">
                </div>
            </div>
        
        <div class="container">
            <div class="row wow animated fadeInUp" data-wow-duration="1s"  data-wow-delay="0.5s">
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="service-title-icon">
                            <i class="fa fa-book fa-3x"></i>
                        </div>
                        <div class="service-item-title">
                            <h3>Litrature</h3>
                        </div>
                        <div class="service-item-desc">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                               voluptatem! Beatae laboriosam praesentium eius?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="service-title-icon">
                            <i class="fa fa-book fa-3x"></i>
                        </div> 
                        <div class="service-item-title">
                            <h3>Lifestyle</h3>
                        </div>
                        <div class="service-item-desc">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                voluptatem! Beatae laboriosam praesentium eius?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="service-title-icon">
                            <i class="fa fa-book fa-3x"></i>
                        </div>
                        <div class="service-item-title">
                            <h3>Economics</h3>
                        </div>
                        <div class="service-item-desc">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                voluptatem! Beatae laboriosam praesentium eius?</p>
                        </div>
                    </div>                                       
                </div>
                <div class="col-md-4">
                        <div class="service-item">
                                <div class="service-title-icon">
                                    <i class="fa fa-book fa-3x"></i>
                                </div>
                                <div class="service-item-title">
                                    <h3>Comics</h3>
                                </div>
                                <div class="service-item-desc">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        voluptatem! Beatae laboriosam praesentium eius?</p>
                                </div>
                            </div>                                                      
                </div>
                <div class="col-md-4">
                        <div class="service-item">
                                <div class="service-title-icon">
                                    <i class="fa fa-book fa-3x"></i>
                                </div>
                                <div class="service-item-title">
                                    <h3>novel</h3>
                                </div>
                                <div class="service-item-desc">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        voluptatem! Beatae laboriosam praesentium eius?</p>
                                </div>
                            </div>                                                      
                </div>
                <div class="col-md-4">
                        <div class="service-item">
                                <div class="service-title-icon">
                                    <i class="fa fa-book fa-3x"></i>
                                </div>
                                <div class="service-item-title">
                                    <h3>Dictionary</h3>
                                </div>
                                <div class="service-item-desc">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        voluptatem! Beatae laboriosam praesentium eius?</p>
                                </div>
                            </div>                                                      
                </div>                
            </div>
        </div>
    </section>
    <section id="about">
        <div id="about-bg-diagonal"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div id="about-content-box">
                        <div id="about-content-box-outer">
                            <div id="about-content-box-inner">
                                <div class="content-title  wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s" >
                                    <h3>About BookHub</h3>
                                    <div class="content-title-underline"></div>
                                </div>
                                <div id="about-desc" class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, officiis repellendus sed aliquam similique necessitatibus earum architecto! Obcaecati dolorum laudantium laborum, quia, perferendis ratione sunt quam distinctio similique fuga voluptates.</p>
                                </div>
                                <!-- <div id="about-btn" class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <a class="btn btn-lg btn-general btn-blue" role="button"  href="#work">View Books</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section id="book">
        <div class="content-box ">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h3>Our Books</h3>
            </div>
            <div class="content-title-underline"></div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutters wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                <% for(var i = 0 ; i < data.length; i++){ %>
                <% if(i < 8) { %>
                    <div class="col-md-3" style="border:1px solid red;height:280px;">
                        <div class="img-wrapper">
                
                            <a href="/books">
                        
                                <img  style="height:280px; width:100%;" src="/bookimages/<%= data[i].image %>" class="img-responsive" alt="Book">
                            </a>
                        </div>
                    </div>


                <% } %> 
                
                <% } %>
                <!-- <div class="col-md-3">
                        <div class="img-wrapper">
                                <a href="/images/b2.jpeg">
                                    <img src="/images/b2.jpeg" class="img-responsive" alt="Book">
                                </a>
                        </div>
                </div>
                <div class="col-md-3">
                        <div class="img-wrapper">
                                <a href="/images/b3.jpg">
                                    <img src="/images/b3.jpg" class="img-responsive" alt="Book">
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="img-wrapper">
                                <a href="/images/b4.jpeg">
                                    <img src="/images/b4.jpeg" class="img-responsive" alt="Book">
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="img-wrapper">
                                <a href="/images/b5.jpeg">
                                    <img src="/images/b5.jpeg" class="img-responsive" alt="Book">
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="img-wrapper">
                                <a href="/images/b6.jpeg">
                                    <img src="/images/b6.jpeg" class="img-responsive" alt="Book">
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="img-wrapper">
                                <a href="/images/b7.jpeg">
                                    <img src="/images/b7.jpeg" class="img-responsive" alt="Book">
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="img-wrapper">
                                <a href="/images/b8.jpeg">
                                    <img src="/images/b8.jpeg" class="img-responsive" alt="Book">
                                </a>
                            </div>
                </div> -->
            </div>
        </div>
    </section>
    <div class="content-box">
            <div class="content-title wow animated bounce" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h3>Contact Us</h3>
                </div>
                <div class="content-title-underline">

                    </div>
    </div>


    <footer id="contact">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <div id="contact-left">
                       <h3>BookHub</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime et nostrum perspiciatis sint tenetur possimus omnis, nemo facilis necessitatibus eius veritatis culpa ab molestias, iste asperiores aliquid praesentium soluta? Impedit.</p>
                       <div id="contact-info">
                           <address>
                               <strong>HeadQuaters  :</strong>
                               <p>Sco 107 RV Technologies<br>
                                Sector 40-B Chandigarh
                            </p>
                           </address>
                       </div>
                       <div id="phone-fax-email">
                           <p><strong>Phone Number : </strong><span>(91)1234567890</span><br>
                            <strong>Fax : </strong><span>9090909090</span><br>
                        <strong>Email : </strong><span>BookHub@book.com</span>
                    </p>
                       </div>
                    </div>
               </div>
               <div class="col-md-6">
                    <div id="contact-right">
                        <h3>Contact Us</h3>
                        <form action="#">
                           <input type="text" name="fullname" placeholder="Fullname" class="form-control">
                           <input type="email" name="email" placeholder="Email" class="form-control">
                           <textarea name="message" id="" class="form-control" placeholder="Meassage....." rows="5"></textarea>
                           <div id="send-btn">
                               <a href="" class="btn btn-lg btn-general btn-white" role="button">Send</a>
                           </div>
                        </form>
                    </div>
                </div>               
           </div>
       </div><br>
       <div id="footer-bottom">
           <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div id="footer-copyrights">
                         <p>CopyRights &copy; 2018 All Rights Reserved By BookHub</p>
                     </div>
                  </div>
                  <div class="col-md-6">
                      <div id="footer-menu">
                          <ul>
                              <li><a href="#home">Home</a>/</li>
                              <li><a href="#services">Services</a>/</li>
                              <li><a href="#about">About</a>/</li>
                              <li><a href="#book">Books</a></li>
                          </ul>
                      </div>
                  </div>
               </div>
           </div>
       </div>
    </footer>

    <%- include ./partials/modal_popup.ejs %>
    
    
    <!---->
    <!-- <div class="modal fade" id="login" role="dialog">
           
        <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" style="background:rgba(0, 0, 0, 0.7);">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                  <h4 class="modal-title" style="color: #ffff;"><b>Welcome User ! LogIn To Your Book Hub Account</b></h4>
                </div>
                <div class="modal-body" style="background:rgba(0, 0, 0, 0.2);">
                        <form action="/submitadminform" method="POST">
                            <br><br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="email" class="form-control" placeholder ="email" name="email" required>
                            </div><br><br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="password" name="password" required>
                            </div><br><br>
                            <div class="form-group">
                                <input type="submit" value="Submit" style="color:#ffff;background:rgba(0, 0, 0, 0.8);" class="btn btn-lg">
                            </div>
                        </form>
                </div>
              </div>
              
            </div>
    </div>     

    <div class="modal fade" id="signup" role="dialog">
           
            <div class="modal-dialog ">
    
                  
                  <div class="modal-content">
                    <div class="modal-header"  style="background-color:rgba(0,0,0,0.7);">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" style="color:white;">Sign Up To Book HuB Account</h4>
                    </div>
                    <div class="modal-body" style="background: rgba(0,0,0,0.2);">
                            <form action="/submitsignupform" method="POST">
                                <br><br>
                                <div class="input-group">
                                  
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>                                   
                                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                                </div><br><br>
                                <div class="input-group">
                                       
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="username" class="form-control" placeholder="Username" name="username" required>
                                </div><br><br>
                                <div class="input-group">
                                   
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                                </div><br><br>
                                <div class="form-group">
                                    <input type="submit" value="SignUp" class="btn btn-lg" style="color:white;background: rgba(0,0,0,0.8);">
                                </div>
                            </form>
                    </div>
                  </div>
                  
                </div>
        </div>      -->

        <!-- <div class="modal fade" id="login" role="dialog">
           
                <div class="modal-dialog">
        
                      <div class="modal-content">
                        <div class="modal-header"  style="background-color:rgba(0,0,0,0.7);">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                            
                            <h4 class="modal-title" style="color:white;">Log In To Your BookHub Account</h4>
                        </div>
                        <div class="modal-body" style="background-color:rgba(0,0,0,0.2);">
                                <form action="/submitloginform" method="POST">
                                    <br><br>
                                    <div class="input-group">
                                     
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>                                                                           
                                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                                    </div><br><br>
                                    <div class="input-group">
                                           
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>                                                                              
                                            <input type="username" class="form-control" placeholder="Username" name="username" required>
                                        </div><br><br>
                                    <div class="input-group">
                                        
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>                                                                           
                                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                                    </div><br><br>
                                    <div class="form-group">
                                        <input type="submit" value="LogIn" class="btn btn-lg" style="color:white;background-color:rgba(0,0,0,0.7);">
                                    </div>
                                </form>
                        </div>
                      </div>
                      
                    </div>
            </div>      -->
            <script src="js/magnific-popup/jquery.magnific-popup.min.js">
            </script>
        <script src="js/wow/wow.min.js">
        </script>
        <script>
            // Services
            new WOW().init();
            // Magnific PopUp
            $(document).ready(function(){
               $("#book").magnificPopup({
                   deligate : 'a',
                   type : 'image'
               });
            });
        </script>
</body>
</html>